/* --------------------------start navbar---------------------------- */
.navbar{
    background-color: rgba(0, 0, 0, 0.897);
}
.navbar .container .collapse .dropdown .dropdown-menu {
    transition: all 1.5s ease;
}

.navbar .container .collapse .dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    color: white;
}
/* .navbar .container .collapse li{
    position: relative;
    left: 0;
    bottom: 0;
} */
.navbar .container .collapse li:hover {
    border-bottom: 2px solid white;
    width: fit-content;
    transition: all 0.6s ease;
}
.active{
    border-bottom: 2px solid white;
    width: fit-content;
    transition: all 0.6s ease;
}
/* --------------------------end navbar---------------------------- */
/* --------------------------start home---------------------------- */
#home {
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/imgi_14_hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* position: relative; */
}

#home h1 {
    font-size: 72px;
    line-height: 86px;
    font-weight: 600;
}

/* #home p::after{
    content: " ";
    width: 3px;
    height: 35px;
    position: absolute;

} */


/* --------------------------end home---------------------------- */
/* --------------------------start about-me---------------------------- */
#about-me {
    background-color: #F5F5F5;
}

#about-me .content h2 {
    position: relative;
}

#about-me .content h2::after {
    content: ' ';
    width: 100px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0078FF;
}

.progress-bar {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-progress-bar-bg);
    transition: var(--bs-progress-bar-transition);
}
.last .progress-bar {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-progress-bar-bg);
    transition: var(--bs-progress-bar-transition);
}


/* --------------------------end about-me---------------------------- */
/* --------------------------start services---------------------------- */
#services {
    background-color: #F5F5F5;
}

#services .container .heading h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

#services .container .heading p {
    position: relative;
}

#services .container .heading p::after {
    content: '';
    width: 40px;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 50%;
    bottom: 0;
    background-color: #0078FF;
    margin-top: 30px;
    transform: translate(-50%);

}

#services .icon {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .card:hover .icon {
    box-shadow: 0 0 0 10px #0077ff41;
    background-color: #0078FF;
    color: white;
    transition: all 0.6s ease;
}

#services .container .card .icon i {
    font-size: 40px;
}
/* --------------------------end services---------------------------- */
/* --------------------------start counter---------------------------- */
.counter{
    background-image: linear-gradient(#1668c6d4) , url(../images/imgi_11_post-3.jpg);
    background-attachment: fixed;
    background-position: center center;
}
.counter .icon {
    height: 60px;
    width: 60px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.799);
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter .container .card .icon i {
    font-size: 25px;
    color: white;
}
/* --------------------------end counter---------------------------- */
/* --------------------------start portfolio---------------------------- */
#portfolio {
    background-color: #F5F5F5;
}

#portfolio .container .heading h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

#portfolio .container .heading p {
    position: relative;
}

#portfolio .container .heading p::after {
    content: '';
    width: 40px;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 50%;
    bottom: 0;
    background-color: #0078FF;
    margin-top: 30px;
    transform: translate(-50%);

}

#portfolio .container .card .card-img {
    overflow: hidden;
}

#portfolio .container .card img {
    transition: all 0.9s ease;
}

#portfolio .container .card:hover img {
    transform: scale(1.3);
}

/* #portfolio .container .card .inner h5{
    padding-top: 23px;
} */
#portfolio .container .card .inner p {
    font-size: 13px;
}

#portfolio .container .card .inner span {
    color: #0078FF;
}

#portfolio .icon {
    height: 45px;
    width: 45px;
    font-size: 1.5rem;
    border: 3px solid #0078FF;
    color: #0078FF;
    border-radius: 50%;
    line-height: 1.65;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------------------end portfolio---------------------------- */
/* --------------------------start slider---------------------------- */
.slider{
    background-image: linear-gradient(#1180ffc3) , url(../images/imgi_16_overlay-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
}
/* --------------------------end slider---------------------------- */
/* --------------------------start blog---------------------------- */
#blog .container .heading h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

#blog .container .heading p {
    position: relative;
}

#blog .container .heading p::after {
    content: '';
    width: 40px;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 50%;
    bottom: 0;
    background-color: #0078FF;
    margin-top: 30px;
    transform: translate(-50%);
}
#blog .container .card a:hover span{
    transition: all 0.7s ease;
    color: #0078FF;
}
#blog .container .card .badge{
    height: 25px;
    width: 80px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
}
/* --------------------------end blog---------------------------- */
/* --------------------------start contact---------------------------- */
#contact{
    background-image: linear-gradient(#1180ffc3) , url(../images/imgi_16_overlay-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
}

#contact .caption h2{
    position: relative;
}
#contact .caption h2::after {
    content: ' ';
    width: 110px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0077ffcd;
}
#contact .caption .btn{
    transform: translate(-50%);
}
#contact .caption ul i{
    color: #0078FF;
}
#contact .caption ul .box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #0078ff;
}
#contact .caption ul li:hover .box{
    box-shadow: 0 0 0 3px #0077ff73;
    background-color: #0078FF;
    color: white;
    transition: all 0.6s ease;
}
/* --------------------------end contact---------------------------- */
/* --------------------------start footer---------------------------- */
.footer{
    background-color: #0062D3   ;
}
/* --------------------------end footer---------------------------- */


@media screen and (max-width: 767px){
    #blog .container .card .badge{
    height: 25px;
    width: 80px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
}
}



